*.h
!unishox1.h
._*
.vscode*
a.out
unishox
unishox1
unishox2
unishox++_0_1_0
unishox_0_1_0
.DS_Store
*.txt
*.aux
*.log
*.out
*.synctex.gz
*w95*
*test*
Debug
Release
*dSYM
ARM.h
proverbs.h
errno.h
Html.h
*.gz
*.zip
*.shx
*.shox
*.bz2
*.lzma
utf8samples/*.gz
utf8samples/*.zip
utf8samples/*.shox
utf8samples/*.bz2
Banner4.odp
