*.h
!unishox1.h
!unishox2.h
!delta_only_unishox2.h
._*
.vscode*
a.out
*.bin
unishox
unishox1
unishox2
unishox++_0_1_0
unishox_0_1_0
.DS_Store
*.txt
cmake_install.cmake
CMakeFiles
!CMakeLists.txt
!json?.txt
!xml?.txt
!chinese.txt
!tamil.txt
!korean.txt
!japanese.txt
!hindi.txt
!spanish.txt
!emoji.txt
!french.txt
*.aux
*.log
*.out
*.synctex.gz
*w95*
*test*
!test_unishox2.c
Debug
Release
*dSYM
ARM.h
proverbs.h
errno.h
Html.h
*.gz
*.zip
*.shx
*.shox
*.bz2
*.lzma
*.us?
*.dsx
utf8samples/*.gz
utf8samples/*.zip
utf8samples/*.shox
utf8samples/*.bz2
Banner4.odp
test_unishox
test_unishox1
test_unishox2
delta_only
*.fdb_latexmk
*.dvi
*.fls
*.xdv
*.csu
*.bcu
doc/*.pdf

# Traditional cmake building directories
build*
