._*
.vscode*
a.out
unishox
unishox++_0_1_0
unishox_0_1_0
.DS_Store
*.aux
*.log
*.out
*.synctex.gz
*w95*
*test*
Debug
Release
*dSYM
ARM.h
proverbs.h
errno.h
Html.h
*.gz
*.zip
*.shox
*.bz2
utf8samples/*.gz
utf8samples/*.zip
utf8samples/*.shox
utf8samples/*.bz2

