Japanese Proverbs:
------------------
案ずるより産むが易し。 - Giving birth to a baby is easier than worrying about it.
出る杭は打たれる。 - The stake that sticks up gets hammered down.
知らぬが仏。 - Not knowing is Buddha. - Ignorance is bliss.
見ぬが花。 - Not seeing is a flower. - Reality can't compete with imagination.
花は桜木人は武士 - Of flowers, the cherry blossom; of men, the warrior.
------------------
Chinese Proverbs:
-----------------
小洞不补，大洞吃苦 - A small hole not mended in time will become a big hole much more difficult to mend.
读万卷书不如行万里路 - Reading thousands of books is not as good as traveling thousands of miles
福无重至,祸不单行 - Fortune does not come twice. Misfortune does not come alone.
风向转变时,有人筑墙,有人造风车 - When the wind changes, some people build walls and have artificial windmills.
父债子还 - Father's debt, son to give back.
害人之心不可有 - Do not harbour intentions to hurt others.
今日事，今日毕 - Things of today, accomplished today.
空穴来风,未必无因 - Where there's smoke, there's fire.
良药苦口 - Good medicine tastes bitter.
人算不如天算 - Man proposes and God disposes
师傅领进门，修行在个人 - Teachers open the door. You enter by yourself.
授人以鱼不如授之以渔 - Teach a man to take a fish is not equal to teach a man how to fish.
树倒猢狲散 - When the tree falls, the monkeys scatter.
水能载舟，亦能覆舟 - Not only can water float a boat, it can sink it also.
朝被蛇咬，十年怕井绳 - Once bitten by a snake for a snap dreads a rope for a decade.
一分耕耘，一分收获 - If one does not plow, there will be no harvest.
有钱能使鬼推磨 - If you have money you can make the devil push your grind stone.
一失足成千古恨，再回头已百年身 - A single slip may cause lasting sorrow.
自助者天助 - Those who help themselves, God will help.
早起的鸟儿有虫吃 - Early bird gets the worm.
------------------
Spanish Proverbs:
------------------
Cada buhonero alaba sus agujas. - A peddler praises his needles (wares).
Cada gallo canta en su muladar. - Each rooster sings on its dung-heap.
Cada martes tiene su domingo. - Each Tuesday has its Sunday.
Cada uno habla de la feria como le va en ella. - Our way of talking about things reflects our relevant experience, good or bad.
Dime con quien andas y te diré quién eres.. - Tell me who you walk with, and I will tell you who you are.
Donde comen dos, comen tres. - You can add one person more in any situation you are managing.
El amor es ciego. - Love is blind
El amor todo lo iguala. - Love smoothes life out.
El tiempo todo lo cura. - Time cures all.
La avaricia rompe el saco. - Greed bursts the sack.
La cara es el espejo del alma. - The face is the mirror of the soul.
La diligencia es la madre de la buena ventura. - Diligence is the mother of good fortune.
La fe mueve montañas. - Faith moves mountains.
La mejor palabra siempre es la que queda por decir. - The best word is the one left unsaid.
La peor gallina es la que más cacarea. - The worst hen is the one that clucks the most.
La sangre sin fuego hierve. - Blood boils without fire.
La vida no es un camino de rosas. - Life is not a path of roses.
Las burlas se vuelven veras. - Bad jokes become reality.
Las desgracias nunca vienen solas. - Misfortunes never come one at a time.
Lo comido es lo seguro. - You can only be really certain of what is already in your belly.
Los años no pasan en balde. - Years don't pass in vain.
Los celos son malos consejeros. - Jealousy is a bad counsellor.
Los tiempos cambian. - Times change.
Mañana será otro día. - Tomorrow will be another day.
Ningún jorobado ve su joroba. - No hunchback sees his own hump.
No cantan dos gallos en un gallinero. - Two roosters do not crow in a henhouse.
No hay harina sin salvado. - No flour without bran.
No por mucho madrugar, amanece más temprano.. - No matter if you rise early because it does not sunrise earlier.
No se puede hacer tortilla sin romper los huevos. - One can't make an omelette without breaking eggs.
No todas las verdades son para dichas. - Not every truth should be said.
No todo el monte es orégano. - The whole hillside is not covered in spice.
Nunca llueve a gusto de todos. - It never rains to everyone's taste.
Perro ladrador, poco mordedor.. - A dog that barks often seldom bites.
Todos los caminos llevan a Roma. - All roads lead to Rome.
