Japanese Proverbs:
------------------
案ずるより産むが易し。 - Giving birth to a baby is easier than worrying about it.
出る杭は打たれる。 - The stake that sticks up gets hammered down.
知らぬが仏。 - Not knowing is Buddha. - Ignorance is bliss.
見ぬが花。 - Not seeing is a flower. - Reality can't compete with imagination.
花は桜木人は武士 - Of flowers, the cherry blossom; of men, the warrior.
------------------
Chinese Proverbs:
-----------------
小洞不补，大洞吃苦 - A small hole not mended in time will become a big hole much more difficult to mend.
读万卷书不如行万里路 - Reading thousands of books is not as good as traveling thousands of miles
福无重至,祸不单行 - Fortune does not come twice. Misfortune does not come alone.
风向转变时,有人筑墙,有人造风车 - When the wind changes, some people build walls and have artificial windmills.
父债子还 - Father's debt, son to give back.
害人之心不可有 - Do not harbour intentions to hurt others.
今日事，今日毕 - Things of today, accomplished today.
空穴来风,未必无因 - Where there's smoke, there's fire.
良药苦口 - Good medicine tastes bitter.
人算不如天算 - Man proposes and God disposes
师傅领进门，修行在个人 - Teachers open the door. You enter by yourself.
授人以鱼不如授之以渔 - Teach a man to take a fish is not equal to teach a man how to fish.
树倒猢狲散 - When the tree falls, the monkeys scatter.
水能载舟，亦能覆舟 - Not only can water float a boat, it can sink it also.
朝被蛇咬，十年怕井绳 - Once bitten by a snake for a snap dreads a rope for a decade.
一分耕耘，一分收获 - If one does not plow, there will be no harvest.
有钱能使鬼推磨 - If you have money you can make the devil push your grind stone.
一失足成千古恨，再回头已百年身 - A single slip may cause lasting sorrow.
自助者天助 - Those who help themselves, God will help.
早起的鸟儿有虫吃 - Early bird gets the worm.
------------------
Spanish Proverbs:
------------------
Cada buhonero alaba sus agujas. - A peddler praises his needles (wares).
Cada gallo canta en su muladar. - Each rooster sings on its dung-heap.
Cada martes tiene su domingo. - Each Tuesday has its Sunday.
Cada uno habla de la feria como le va en ella. - Our way of talking about things reflects our relevant experience, good or bad.
Dime con quien andas y te diré quién eres.. - Tell me who you walk with, and I will tell you who you are.
Donde comen dos, comen tres. - You can add one person more in any situation you are managing.
El amor es ciego. - Love is blind
El amor todo lo iguala. - Love smoothes life out.
El tiempo todo lo cura. - Time cures all.
La avaricia rompe el saco. - Greed bursts the sack.
La cara es el espejo del alma. - The face is the mirror of the soul.
La diligencia es la madre de la buena ventura. - Diligence is the mother of good fortune.
La fe mueve montañas. - Faith moves mountains.
La mejor palabra siempre es la que queda por decir. - The best word is the one left unsaid.
La peor gallina es la que más cacarea. - The worst hen is the one that clucks the most.
La sangre sin fuego hierve. - Blood boils without fire.
La vida no es un camino de rosas. - Life is not a path of roses.
Las burlas se vuelven veras. - Bad jokes become reality.
Las desgracias nunca vienen solas. - Misfortunes never come one at a time.
Lo comido es lo seguro. - You can only be really certain of what is already in your belly.
Los años no pasan en balde. - Years don't pass in vain.
Los celos son malos consejeros. - Jealousy is a bad counsellor.
Los tiempos cambian. - Times change.
Mañana será otro día. - Tomorrow will be another day.
Ningún jorobado ve su joroba. - No hunchback sees his own hump.
No cantan dos gallos en un gallinero. - Two roosters do not crow in a henhouse.
No hay harina sin salvado. - No flour without bran.
No por mucho madrugar, amanece más temprano.. - No matter if you rise early because it does not sunrise earlier.
No se puede hacer tortilla sin romper los huevos. - One can't make an omelette without breaking eggs.
No todas las verdades son para dichas. - Not every truth should be said.
No todo el monte es orégano. - The whole hillside is not covered in spice.
Nunca llueve a gusto de todos. - It never rains to everyone's taste.
Perro ladrador, poco mordedor.. - A dog that barks often seldom bites.
Todos los caminos llevan a Roma. - All roads lead to Rome.
------------------
Tamil Proverbs:
------------------
அகத்தின் அழகு முகத்தில் தெரியும் - The beauty of the soul is known in the face
அறுக்கமாட்டாதவன் இடுப்பிலே ஐம்பத்தெட்டு (58) அரிவாள் - He who is unable to reap, carries fifty-eight sickles at his side
அகங்கையிற் போட்டுப் புறங்கையை நக்கலாமா ? - Having placed the thing on the palm, why lick the back of the hand?
ஆக்கப் பொறுத்தவன், ஆறப் பொறுக்கமாட்டானா? - Will not be who has waited till the food is cooked, also wait till it cools?
ஆழம் தெரியாமல் காலை இட்டுக்கொண்டதுபோல - Like stepping into the water without knowing its depth
ஆழாக்கு அரிசி, மூழாக்குப் பானை, முதலியார் வருகிற வீறாப்பப் பாரும் - The Mudaliyar has only a small measure of rice, but keeps a pot that can hold three such measures. Behold the pomp of the Mudaliyar!
ஆற்றிலே போட்டாலும் அழந்துப் போட வேண்டும் - Although you are throwing it into the river, measure it first
ஏட்டுச் சுரக்காய் கறிக்கு ஆகுமா? - Will the word pumpkin serve for a meal?
திட்டிக் கெட்டாருமில்லை, வாழ்த்தி வாழ்ந்தாருமில்லை - No man was ever ruined by being cursed, and no one ever prospered because he was blessed
அசைந்து தின்கிறது மாடு, அசையாமல் தின்கிறது வீடு - A cow eats moving, a house eats standing
அகல இருந்தால் நிகள உறவு, கிட்டவந்தால் முட்டப் பகை - If separated by a long distance, there will be long-lived friendship, but if they are near each other, there will be perfect hatred
அங்காடிக்காரியை பாடச்சொன்னால், வெங்காயம் கறிவேப்பில்லை என்பாள் - If a song be demanded of a woman going along with her market basket, she will exclaim ''Onions'', 'Curry leaves
அங்கும் இருப்பான், இங்கும் இருப்பான், ஆக்கின சோற்றுக்குப் பங்கும் இருப்பான் - He is there, he is here, he has share also in the boiled rice
பால் சட்டிக்கு பூனை காவல் வைக்கிறதுபோல் - Asking a cat to guard the pot of milk
எரிகிற விட்டிலே பிடுங்கிறது லாபம் - Whatever you are able to secure from a burning house is a gain
சூடு கண்ட பூனை அடுப்பங்கரையில் சேராது - The cat that has got fire burns will never go near the kitchen
சீலை இல்லை என்று சித்தி வீட்டுக்கு போனாளாம் , அவள் ஈச்சம் பாயை கட்டிகொண்டு எதிரே வந்தாளாம் - She went to her aunt's house since she had no sari, but her aunt came out wearing a rug made of date palm
மதில் மேல் பூனை போல - Like a cat standing on the wall
ஆடு நனைகிறது என்று ஓநாய் அழுகிறதாம் - Its like wolf cried when the sheep got drenched in rain
தண்ணீர் வெந்நீர் ஆனாலும் நெருப்பை அணைக்கும் - Even if the water becomes hot water, it will quench the fire
அறிவே ஆற்றல் - Knowledge is power
ஆட தெரியாதவள் கூடம் கோணல் என்றாளாம் - She who do not know to dance says the stage is crooked
கூத்தாடி கிழக்கே பார்த்தான் , கூலிக்காரன் மேற்கே பார்த்தான் - The all-night dancer watched the east, the all-day labourer watched the west
ஊரார் வீட்டு நெய்யே , என் பொண்சாதி கையே - Though the ghee belonged to the village, it is my wife's hand that is serving the ghee
தன் வினை தன்னைச் சுடும் , ஓட்டப்பம் வீட்டை சுடும் - One's deed will burn him, pancake with evil intention will burn the house
பூனை கொன்ற பாவம் உன்னோடு , வெல்லம் தின்ற பாவம் என்னோடு - Let the sin of killing the cat be with you, and let the sin of eating the jaggery stay with me
அடி நாக்கிலே நஞ்சும் , நுனி நாக்கிலே அமிர்தமா ? - When you have poison in the bottom of your tongue, can there be elixir at the tip of the tongue ?
கண்டால் காமாச்சி நாயகர் , காணவிட்டால் காமாட்டி நாயகர் - In front of you they would praise you like a lord. When you are away they would ridicule you as a fool
ஏறச்சொன்னால் எருதுக்குக் கோபம், இறங்கச்சொன்னால் நொண்டிக்குக் கோபம் - The bull gets angry when a physically challenged man is asked to mount on it; if the man is asked to get down, he would get angry
எருமை வாங்கும் முன் நெய் விலை கூறுகிறதா ? - Can you ask price for your ghee before buying buffalo?
ஊர் எல்லாம் வாழ்கிறது என்று வீடு எல்லாம் அழுது புரண்டாலும் வருமா ? - Would it matter if you cry rolling all over your house that the village is prospering?
குதிரை குருடானாலும் , கொள்ளு தின்கிறதில் குறைய ? - Would the blind horse eat lesser fodder?
பங்குனி என்று பருக்கிறதுமில்லை, சித்திரை என்றும் சிறுக்கிறுதுமில்லை - Neither does he expand in March nor does he get lean in April
அஞ்சும் மூன்றும் உண்டானால் , அறியாப்பெண்ணும் சமைக்கும் - If the five(pepper, salt, mustard, cumin, tamarind) and the three(water, fire, fuel) are at hand, even an ignorant girl can cook
இரும்பு அடிக்கிற இடத்தில நாய்க்கு என்ன வேலை ? - What work does a dog have in a blacksmith shop?
ஆசை அறுபது நாள் , மோகம் முப்பது நாள் , தொண்ணூறும் போனால் துடைப்பக்கட்டை - Lust for 30 days, desire for 60 days and after 90 days she looks like a broomstick - 
வேலியில் போகிறதை வேட்டிக்குள் விட்ட கதை - Picking some wild creature from the bush and packing it in the dhothi (referring to the unwanted activity and its consequence ) - 
பொழப்பற்ற நாசுவன் பொண்டாட்டி தலையை செரச்சானாம் - Unemployed barber shaves his wife's head - 
யானை மேல் போகிறவனை சுண்ணாம்பு கேட்ட கதை - Asking for limestone from one who is travelling on an elephant
