name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Configure Project
      run: |
        mkdir buildRelease && cd buildRelease
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=install ..

    - name: Compile project
      run: |
        cd buildRelease
        cmake --build .

    - name: Install library
      run: |
        cd buildRelease
        cmake --build . --target install
        tree install

    - name: Test with CLI app
      run: |
        cd buildRelease
        ./unishox_cli -t
